@{
    ViewBag.Title = "عن شركتنا...";
}
<h2>@ViewBag.Title.</h2>
<h3>شركة الهلال الذهبي لنقل الاثاث </h3>

<p>شركة الهلال الذهبي وظيفتها هى تسهيل عملية النقل لمنقولاتكم بدون عناء عليكم ،ولذلك تقدم شركتنا تسهيلاً ، لعملائنا الكرام خدمة النقل الشامل والتى تتضمن فك الاثاث ،وتعبئته،وتغليفه، وتنضيفه،وتركيبه ، وذلك تسهيلاً منا عليكم ،كما تقدم شركتنا أيضاً خدمة اخرى وهى الخدمة الفردية والتى تتضمن خدمة النقل فقط بصوره آمنه وفى اسرع وقت ،نترك لكم الإختيار فى تقديم ما هو أفضل لكم وما يناسب إحتياجاتكم سواء خدمة النقل الشامل أو النقل الفردى ويتم تحديد أسعارنا نظراً للخدمات المطلوبة وذلك تسهيلاً على عملائنا الكرام.</p>
